@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;


 }    
:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --cor0: #f5deb3bb;
    --cor1: #051805c2;
    --cor2: #066106;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
main  p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}


header > h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 15px;
    font-size: 2.7em;
    font-weight: normal;
}

header {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    padding-top: 30px;
    min-height: 150px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, #051805c2, rgb(27, 114, 27), rgba(36, 148, 36, 0.774));
    font-weight: normal; 
      
}
nav {
    text-align: left;
    padding: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.384);
    background-color: var(--cor1);
    
}
nav > a {
    text-decoration: none;
    color: rgba(176, 250, 176, 0.932);
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.5s;
    
}
nav > a:hover {
    background-color: rgba(119, 177, 119, 0.76);
    padding: 3px;
}
main > p > a:hover {
    text-decoration: underline;
}
main a {
    font-weight: bold;
    padding: 2px 5px;

}

main img {
    width: 100%;
}

main .pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main strong {
    color: #066106;
    font-weight: bold;
}
main {
    background-color: white;
    min-width: 270px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.479);
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.externo::after {
    content: '\00A0\1F517';
}
article > h1 {
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
    color: rgb(5, 105, 5);
    font-size: 1.8em;
} 
article > p {
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 1px;
    font-size: 1.1em;
}
article > picture > img {
    display: block;
    
}
article > h2 {
    font-family: 'Idroid', Arial, Helvetica, sans-serif;
    color: rgb(5, 105, 5);
    background-image: linear-gradient(to right, rgb(107, 243, 107),transparent);  
}
.youtube {
    display: block;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    background-color: var(--cor2);
    position: relative;
    padding-bottom: 56.5%;
}

.youtube > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside > h3 {
    color: white;
    background-color: #066106;
    padding: 8px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}
aside {
    background-color: lightgreen;  
    padding: 10px; 
    border-radius: 8px; 
    text-indent: 15px;
    text-align: justify;
    font-size: 1.1em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);  
}
aside > a {
    text-decoration: none;
}
ul {
    font-weight: bold;
    list-style-position: inside;
    columns: 2;
    list-style-type: '✓\00A0\00A0' ;
    
}

footer {
    background-color: #066106;
    text-align: center;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;   
}
footer > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer > a:hover {
    text-decoration: underline;
}

